/* 屏幕宽度在340px至410px时，基准尺寸使用20px */
html{
	font-size: 20px;
}
/* 屏幕宽度小于340px时，基准尺寸使用22px */
@media (max-width: 340px) {
    html{
		font-size: 18px;
	}
}
/* 屏幕宽度大于410px时，基准尺寸使用22px */
@media (min-width: 410px){
    html{
        font-size: 22px;
    }
}

body {
    max-width: 640px;
    margin: 0 auto;
    overflow-x: hidden;
    background: #f8f8f8;
    -webkit-overflow-scrolling: touch;
}

.mu-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 300;
}